@font-face {
  font-family: 'Zilla Slab';
  src: url(./fonts/ZillaSlab-Regular.ttf);
}

body {
  margin: 0;
  background-color: #1e1e1e;
  font-family:
    'Zilla Slab',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Zilla Slab', sans-serif;
}
